/* service section */
.service_item{
    width: 790px;
    margin: 30px auto;
}
.serviceitem1{
    width: 360px;
    text-align: center;
    padding: 50px 15px;
    background: #7D4B4B;
    border-radius: 0px 40px 40px 0px;
    color: #E8D5D5;
}

.serviceitem2{
    width: 350px;
    text-align: center;
    padding: 50px 15px;
    background: #4F7D4B;
    border-radius: 40px 0px 0px 40px;
    color: #F49F9F;
    margin-top: 30px;
    margin-left: 330px;
}
.serviceitem3{
    width: 360px;
    text-align: center;
    padding: 30px 15px;
    background: #340E9D;
    border-radius: 0px 40px 40px 0px;
    color: #DAEDD5;
    margin-top: 30px;
   
}
.fontweight{ 
    font-weight: 500;
}