*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
/* menu1 css */
.menu3{
    background-color: #3500f5;
    padding: 18px 0px;
}
.menu3 ul{
    text-align: center;
    
}
.menu3 ul li{
    display: inline-block;
    position: relative;
    margin-left: -4px;

}
.menu3 ul li a{
    text-decoration: none;
    border-right: 1px solid rgb(255, 255, 255);
    color: #fff;
    padding: 10px 14px;
    
}
.menu3 ul li:first-child a{
    
    border-left: 1px solid rgb(255, 255, 255);
}
.menu3 ul li:hover > a{
    background-color: #2d04c2;
}
.menu3 ul li a:hover{
    background-color: #2d04c2;
}

/* menu1 dropdown */

.menu3 ul li ul{
    position: absolute;
    width: 100px;
    height: auto;
    background-color: #000;
    top: 100%;
    left: 0;
    padding-left: 0px;
}
.menu1 ul li ul li{
    display: block;
    
}
.menu1 ul li ul li a{
    display: block;
    border-right:none;
   
}
.menu3 ul li ul li:first-child a{
    border-left: none;
}
.menu1 ul li ul li a:hover{}
/* menu 2 */

